// @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

// $silkscreen: 'Silkscreen', cursive;

// *, *::before, *::after {
// 	box-sizing: border-box;
// 	font-family: $silkscreen;
// 	font-weight: normal;
// }

// body {
// 	background: linear-gradient(to right, #00AAFF, #0f6332);
// 	padding: 0;
// 	margin: 0;
// }

// .container {
// 	padding: 15px 50px;

// 	h1 {
// 		color: white;
// 		font-size: 48px;
// 	}

// 	.screen {
// 		background-image: url(../assets/backdrop.png);
// 		background-size: contain;
// 		border: #7c5d08 4px solid inset;
// 		height: 800px;
// 		margin: 0 auto;
// 		position: relative;
// 		width: 800px;

// 		.hero {
// 			background-image: url(../assets/halloween/horseman/horseman_a_1.png);
// 			background-position: -104px 104px;
// 			height: 52px;
// 			left: 218px;
// 			position: absolute;
// 			width: 52px;
// 		}
// 	}
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400&display=swap');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

body {
	font-family: $roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $montserrat;
}

.formulario {
	form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		input[type = 'text'], textarea {
			padding: 10px;
		}
		label {
			color: brown;
			font-weight: 900;
		}
		input[type = 'submit'], input[type = 'button'] {
			background-color: blue;
			border-radius: 7px;
			color: white;
			cursor: pointer;
			font-weight: 600;
			padding: 15px;
			transition: all 0.3s ease;
			align-items: center;
			&:hover {
				background-color: lighten(blue, 25%);
			}
		}
	}
}

.nota {
	display: block;
}
.iconos {
	.lapiz {
		margin-right: 15px;
		font-size: 1.5rem;
	}
	cursor: pointer;
	display: flex;
	padding: 0 20px;
	justify-content: end;
	img {
		margin-right: 20px;
		width: 20px;
	}
}