// @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

// $silkscreen: 'Silkscreen', cursive;

/*  *, *::before, *::after {
 */// 	box-sizing: border-box;
// 	font-family: $silkscreen;
// 	font-weight: normal;
// }

// body {
// 	background: linear-gradient(to right, #00AAFF, #0f6332);
// 	padding: 0;
// 	margin: 0;
// }

// .container {
// 	padding: 15px 50px;

// 	h1 {
// 		color: white;
// 		font-size: 48px;
// 	}

// 	.screen {
// 		background-image: url(../assets/backdrop.png);
// 		background-size: contain;
// 		border: #7c5d08 4px solid inset;
// 		height: 800px;
// 		margin: 0 auto;
// 		position: relative;
// 		width: 800px;

// 		.hero {
// 			background-image: url(../assets/halloween/horseman/horseman_a_1.png);
// 			background-position: -104px 104px;
// 			height: 52px;
// 			left: 218px;
// 			position: absolute;
// 			width: 52px;
// 		}
// 	}
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400&display=swap');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

body {
	font-family: $roboto;
	background-color: #F5F5F5;
	margin: 0 auto;
	width: 70%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $montserrat;
}

.formulario {

	form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		outline: none;

		#titulo {
			border: 1px solid #C4C4C4;
    		border-radius: 10px;
			outline: none;                   //Para que no se muestre el borde interior cuando escribes.
			height: 50px;
			padding: 3px 14px;
		}
		
		/* input [type="text"], */ textarea {
			padding: 10px;
			outline: none;
			border: 1px solid #C4C4C4;
			border-radius: 10px;
			padding: 17px 14px;
		}
		label {
			font-weight: 900;
			color: brown;
		}
		input[type="submit"] {
			color: white;
			background-color: #54c3bd;
			cursor: pointer;
			padding: 9px;
			font-weight: 600;
			transition: all0.3s ease;
			border-radius: 25px;
			border: 1px solid #C4C4C4;
			outline: none;
			width: 200px;

			font-size: 19px;


			&:hover{
				background-color: lighten(#54c3bd, 25%);
			}
			&:active {                      /*Para que el botón de enviar cambie de color al hacer clic*/
				background: #8bb7b4; 
				color: white;
			}
		}
	}
}