@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400&display=swap');
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

body {
    font-family: $roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat;
}
.formulario {
    form{
        display: flex;
        flex-direction: column;
        gap: 12px;
        input[type='text'],  texarea {
            padding: 10px;
        }
        label {
            color: brown;
            font-weight: 900;
        }
        input[type="submit"] {
            background-color: #089218;
            border-radius: 7px;
            color: #070b06;
            cursor: pointer;
            font-weight: 600;
            padding: 15px;
            transition: all 0.3s ease;
            &:hover {
                background-color: lighten(#089218, 25%);
            }

        }
    }
    
}